<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuacaDHbPpvRJY4MRtXFLbVpMc_DTU6Yg</string>
	<key>GCM_SENDER_ID</key>
	<string>880405215870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imai.aikotoba</string>
	<key>PROJECT_ID</key>
	<string>aikotoba-e77ea</string>
	<key>STORAGE_BUCKET</key>
	<string>aikotoba-e77ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880405215870:ios:b09e7da50dd2f48f4f762f</string>
</dict>
</plist>